* {
  margin: 0;
  box-sizing: border-box;
}
html {
  --background-page: black;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-page);
}
.triangle-container {
  display: flex;
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-triangle {
  width: 0;
  height: 0;
  top: 50%;
  right: 50%;
  left: 50%;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  border-bottom: 230px solid white;
  margin-bottom: 490px;
  position: relative;
  animation: pulse 2s infinite, shake 0.1s infinite;
}

.small-triangle {
  width: 0;
  height: 0;
  margin-top: 100px;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 180px solid black;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont span {
  position: absolute;
  width: 300px;
  height: 300px;
}

.cont span:last-of-type {
  position: relative;
  margin-bottom: 150px;
  top: 140px;
  left: -125px;
  width: 0;
  height: 0;
  border-left: 177px solid transparent;
  border-right: 177px solid transparent;
  border-top: 350px solid white;
  animation: pulse 2s infinite;
  filter: drop-shadow(0 0 15px rgb(35, 146, 236));
}
.cont span:last-of-type::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 147px solid transparent;
  border-right: 147px solid transparent;
  border-top: 250px solid black;
  bottom: 79px;
  left: -147px;
}
.cont span:last-of-type::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-top: 115px solid white;
  top: -330px;
  left: -65px;
}
.last-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-top: 180px solid white;
  bottom: 210px;
}
.last-triangle::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 195px solid black;
  top: -163px;
  right: -100px;
}
@keyframes pulse {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
    filter: drop-shadow(0 0 55px rgb(35, 146, 236));
  }
  25%,
  75% {
    transform: translate(-5px, -5px) scale(0.95);
    filter: drop-shadow(0 0 45px rgb(35, 146, 236));
  }
  50% {
    transform: translate(5px, 5px) scale(1.05);
    filter: drop-shadow(0 0 65px rgb(35, 146, 236));
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
}
